@charset "UTF-8";

.product-preview img {
  width: 100%;
}

#product-imgs .product-preview {
    margin: 0px 5px;
    border: 1px solid #E4E7ED;
}

/*----------------------------*\
	Products slick
\*----------------------------*/

.products-slick .slick-list {
  padding-bottom: 60px;
  margin-bottom: -60px;
  z-index: 2;
}

.products-slick .product.slick-slide {
  margin: 15px;
}

.products-tabs>.tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.products-tabs>.tab-pane.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.products-slick-nav {
  position: absolute;
  right: 15px;
  z-index: 10;
}

.products-slick-nav .slick-prev, .products-slick-nav .slick-next {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 20px;
  height: 20px;
  display: inline-block !important;
  margin: 0px 2px;
}

.products-slick-nav .slick-prev:before, .products-slick-nav .slick-next:before {
  font-size: 14px;
}

#product-imgs .slick-prev {
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slick-prev {
    left: -20px;
}

#product-imgs .slick-next {
    top: calc(100% - 20px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slick-next {
    right: -20px;
}



#product-imgs .slick-prev, #product-imgs .slick-next {
    width: 40px;
    height: 40px;
    border: 1px solid #E4E7ED !important; 
    background-color: #FFF !important;
    border-radius: 50%;
    z-index: 22;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

/* arrow style */

#product-imgs .slick-prev:before, #product-imgs .slick-next:before {
    font-family: FontAwesome;
    color: #2B2D42;
}

#product-imgs .slick-prev:hover, #product-imgs .slick-prev:focus,
#product-imgs .slick-next:hover, #product-imgs .slick-next:focus {
  background-color: #E4E7ED !important;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-prev:before {
    content: "\f106";
    font: var(--fa-font-brands);
}
.slick-prev:before {
    content: "\f104";
    font: var(--fa-font-brands);
}

.slick-next:before {
    content: "\f107";
    font: var(--fa-font-brands);
}
.slick-next:before {
    content: "\f105";
    font: var(--fa-font-brands);
}

